body {
  background-color: #121212; /* deep dark background */
  color: #ffffff;           /* white text */
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

button {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.questionContainer {
    margin-top: 50px;
    border: 2px solid white;
    padding-bottom: 15px;
    border-radius: 8px;
}