body {
  background-color: #ffffff; /* white background */
  color: #000000;           /* black text */
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

button {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
}

button:hover {
    background-color: black;
    color: white;
}

.questionContainer {
    margin-top: 50px;
    border: 2px solid black;
    padding-bottom: 15px;
    border-radius: 8px;
}